@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	width: 1366px;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

.userTitle {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
}

.grayInput {
	width: 48%;
	padding: 10px;
	border-bottom: 1px solid #919191;
	border-radius: 4px 4px 0 0;
	background-color: #f4f4f4;
	color: #6a6a6a;
}

.pageContainer {
	width: 875px;
	margin: 0 auto;
	margin-top: 250px;
}

.footer {
	background-color: #3d3d3d;
	height: 72px;
	width: 1366px;
	bottom: 0;
	position: relative;
}
